body {
  background-color: lightblue;
}
/* Body contains header, main, footer in a column */
body {
  display: flex;
  flex-direction: column;
}

/* Main contains article + aside in a row */
main {
  display: flex;
  flex-direction: row;
  flex: auto; /* Let main grow/shrink automatically */
}

/* Article should take 2/3 of space */
article {
  flex: 2;
  overflow-y: auto;
}

/* Aside should take 1/3 of space */
aside {
  flex: 1;
  overflow-y: auto;
}
